body{
    background-color: #15133C;
    color: white;
}
.mainContainer{
    color: rgb(255, 255, 255);
    text-align: center;

}
h2, h1{
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
#sectionHeaderText{
    color: #F1EEE9;
    font-weight: bold;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
}
a{
    color: white;
}
ul{
    list-style: none;
}
li{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
}
hr{
    margin-top: 20px;
    width: 15%;
}
img{
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    border: rgb(255, 255, 255) solid 4px;
}
footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    margin-top: 80px;
}